body{
background:black;
color:white;
font-family:Arial;
margin:0;
}

.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:15px;
background:black;
position:sticky;
top:0;
}

.logo{
color:red;
font-size:28px;
}

.search{
padding:8px;
border-radius:4px;
border:none;
}

.banner{
height:60vh;
background:url("https://image.tmdb.org/t/p/original/9zZ0h9eKQgMnhlKp9s9j8T9y7rY.jpg");
background-size:cover;
padding:60px;
}

.banner h2{
font-size:40px;
}

.banner button{
padding:10px 20px;
margin:10px;
border:none;
background:red;
color:white;
cursor:pointer;
}

.row-title{
margin-left:20px;
}

.movies{
display:flex;
overflow-x:auto;
padding:20px;
}

.movies img{
width:200px;
margin-right:10px;
border-radius:6px;
transition:0.3s;
}

.movies img:hover{
transform:scale(1.1);
}